body,
#root {
  margin: 0;
  height: 100vh;
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
@keyframes ball-move-up {
  0% {
    align-items: flex-start;
  }
  50% {
    align-items: center;
  }
  100% {
    align-items: flex-end;
  }
}
@keyframes ball-move-down {
  0% {
    align-items: flex-end;
  }

  50% {
    align-items: center;
  }
  100% {
    align-items: flex-start;
  }
}
