* {
  font-family: "Zen Antique", serif;
}
body,
#root {
  margin: 0;
  height: 100vh;
  background-image: url(https://oir.mobi/uploads/posts/2020-01/1579584660_2-p-sinyaya-abstraktsiya-4.jpg);
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
@keyframes ball-move-up {
  0% {
    top: 3%;
  }
  25% {
    top: 15%;
  }
  50% {
    top: 25%;
  }
  75% {
    top: 40%;
  }
  100% {
    top: 57%;
  }
}
@keyframes ball-move-down {
  0% {
    top: 57%;
  }
  25% {
    top: 40%;
  }
  50% {
    top: 25%;
  }
  75% {
    top: 15%;
  }
  100% {
    top: 3%;
  }
}
