* {
  font-family: "Zen Antique", serif;
}
body,
#root {
  margin: 0;
  background-color: rgb(234 234 234 / 70%);
  height: calc(100vh);
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
@keyframes ball-move-up {
  0% {
    top: 3%;
  }
  10% {
    top: 8%;
  }
  20% {
    top: 13%;
  }
  30% {
    top: 18%;
  }
  40% {
    top: 23%;
  }
  50% {
    top: 28%;
  }
  60% {
    top: 33%;
  }
  70% {
    top: 38%;
  }
  80% {
    top: 42%;
  }
  90% {
    top: 47%;
  }
  100% {
    top: 57%;
  }
}
@keyframes ball-move-down {
  0% {
    top: 57%;
  }
  10% {
    top: 47%;
  }
  20% {
    top: 42%;
  }
  30% {
    top: 37%;
  }
  40% {
    top: 32%;
  }
  50% {
    top: 27%;
  }
  60% {
    top: 22%;
  }
  70% {
    top: 17%;
  }
  80% {
    top: 12%;
  }
  90% {
    top: 7%;
  }
  100% {
    top: 3%;
  }
}
